[submodule "dwl"]
	path = dwl
	url = https://codeberg.org/dwl/dwl.git
[submodule "wlroots"]
	path = wlroots
	url = https://github.com/icpstr/icmroots.git
[submodule "wayland-protocols"]
	path = wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "web"]
	path = web
	url = https://github.com/icpstr/web.git